[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u
Icon=org.xfce.webbrowser
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name=Web Browser
Comment=Browse the web
X-XFCE-Source=file:///nix/store/nf61j76qwgywx0xgxcimy03cg4nh26y2-xfce4-settings-4.18.6/share/applications/xfce4-web-browser.desktop
